<a href="<%- newsItem.link %>" class="news__card">
    <img src="<%- newsItem.thumbnail_url %>" alt="<%- newsItem.title.rendered %>">
    <h2><%- newsItem.title.rendered %></h2>
    <p><%- newsItem.excerpt.rendered %></p>
</a>